/*Вставляємо зображення з підписом та рівняємо по лівому краю, робимо текст навколо*/
figure {
	width: 120px;
	float:left;
}
/*додаємо паспорту*/
.pasportu{
	padding: 20px;
	background: #F5F5F5;
	margin: 0px 6px 0px 0px;
	border: 2px #A4a195 solid;
}
figcaption {
	font-family: Arial;
	font-size:18px;
	font-weight: 600;
}
.leftimg {
	width: 120px;
	margin: 0px 0px 0px 0px;
	padding: 0;
	border: 1px #A4a195 solid;
}
/*Робимо стилі параграфів*/
p {
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	text-indent: 1%;
}
/*Відступ та стиль української частини*/
.ukr{
	margin-top: 40px;
	font-style: italic;
	font-size: 14px;
	font-weight: 400;
	text-indent: 1%;
}
/*Курсив для автора тексту*/
.autor {
	font-style: italic;
}